body{
    background-color: #1f2937;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    display: flex;
    flex-direction: column;
}

/* Navbar */
 .nav {
     display: flex;
     color: #f9faf8;
     padding: 20px 0px 20px 100px;
     align-items: center;
 }
 .header-logo img{
     width: 84px;
     height: 84px;
     margin-right: auto;
 }
.header-link{
display: flex;
margin-left: auto;
gap: 15px;
padding: 0px 100px 0px 0px;
}
.header-link a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
 /* middle section*/
 .fan{
     display: flex;
     color: #f9faf8;
     align-items: center;
     justify-content: center;
     padding: 90px;
 }
 .fanman{
     flex-basis: 400px;
     display: flex;
     flex-direction: column;
     text-align: center;
     margin-right: 50px;
 }
 .fanman p{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     opacity: 0.7;
 }
 h1{
     font-size: 48px;
     font-weight: bold;
     color: white;
      margin: 0;
    
 }
  .sign-up {
     display: block;
    text-align: center;
     width: 110px;
     border: none;
     background: #3882f6;
     padding: 10px;
     border-radius: 25px;
     color: #fff;
     text-decoration: none;
     font-weight: bold;

  }
  .mid-logo img{
      width: 350px;
      height: 350px;
  }
  /*4 things*/
.content{
    align-items: center;
    background-color: white;

    
}


.pics{
    display: flex;
    background-color: white;
    padding-bottom: 50px;
  

    
}
.pics img{
    border:3px solid blue;
    

}
.pics p{
  display: flex;
  align-items: flex-end ;
  flex-wrap: wrap;
  




}